@use '../../styles/partials/variables' as var;
// TODO

.mainContent {
  margin: 0 auto;
  padding-bottom: 10rem;
}

.postTitle {
  font-size: 4.8rem;
  line-height: 5.8rem;
  letter-spacing: -0.05rem;
  color: var.$heading;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.infoContent {
  margin-bottom: 6.4rem;
  .infoDate,
  .infoUser,
  .infoTime {
    color: var.$info;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;

    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 0.8rem;
    }
  }
  span + span {
    margin-left: 2.4rem;
  }
}

.imageWrapper {
  max-width: 144rem;
  margin: 0 auto;
  height: 40rem;
  display: flex;
  justify-content: center;
  background: #050505;
}

.textContent {
  .paragraphTitle {
    font-size: 3.6rem;
    line-height: 5rem;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 4rem;
  }

  .paragraphContent + .paragraphContent {
    margin-top: 4rem;
  }

  p {
    text-align: justify;
    font-weight: 400;
    line-height: 2.5rem;
  }
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
  svg {
    margin-right: 1rem;
  }
}

@media (max-width: 766px) {
  .imageWrapper {
    width: 100%;
    height: auto;
  }
}
