@use '../../styles/partials/variables' as var;

.postWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.07) translate(1.4%);
  }

  .postTitle {
    font-weight: bold;
    line-height: 34px;
    font-size: 2.8rem;
    letter-spacing: -0.05rem;
    text-align: justify;
  }

  .postDescription {
    line-height: 2.2rem;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 400;
    color: var.$text;
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
  }

  .infoDate,
  .infoUser {
    color: var.$info;
    line-height: 1.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-flex;
    align-items: center;

    > svg {
      margin-right: 0.5rem;
    }
  }

  div {
    span + span {
      margin-left: 2.4rem;
    }
  }
}
